<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <title>Document</title>
</head>

<body>
  <!-- HEADER START -->
  <%- include('./partials/header')%>
  <!-- HEADER END -->
  <!-- HERO SECTION -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Add Employee to Project
        </h1>
        <h2 class="subtitle">
          Please assign your employees here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
    <!-- SECTION START -->
    <br><br>
    <div class="container-fluid">
      <section class="section">
        <!-- FORM START -->
        <div class="container">
          <form action="/project/<%=dataProject.id%>/addemployee" method="post">
            <div class="control">
              <label class="label">Project</label>
              <input class="input" type="text" placeholder="<%=dataProject.name%>" disabled>
            </div>
            <div class="field">
              <label class="label">Choose Employee</label>
              <div class="control">
                <div class="select">
                  <select name="UserId">
                            <%dataEmployes.forEach(listEmployes=>{%>
                        <option value='<%=listEmployes.id %>'>
                            <%=listEmployes.name %>
                        </option>
                        <%}, this)%>
                      </select>
                </div>
              </div>
            </div>
            <input class="button is-primary is-outlined" type="submit" value="Kirim">
          </form>
        </div>
        <!-- FORM END -->
      </section>
      <!-- SECTION END -->
    </div>
    <!-- FOOTER START -->
    <%- include('./partials/footer')%>
    <!-- FOOTER END -->
</body>

</html>
