<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <title>Edit Project</title>
</head>
<body>
  <%- include('./partials/header')%>
  <!-- HERO SECTION -->
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Edit Project
        </h1>
        <h2 class="subtitle">
          Please input your changes here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION START -->
  <br>
  <br>
  <section class="container">
    <div class="container">
      <form class="" action="<%=editProject.id%>" method="post">
        <div class="field">
          <label class="label">Project Name:</label>
          <div class="control">
            <input name="name" class="input" type="text" placeholder="Project name input" value="<%=editProject.name%>" required>
          </div>
        </div>
        <div class="field">
            <label class="label">Deadline:</label>
            <div class="control">
                <div class="select">
                  <input name="deadline" class="input" type="date" placeholder="hh/bb/tttt" required>
                </div>
              </div>
          </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-info">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- SECTION END -->
  <%- include('./partials/footer')%>
</body>
</html>
