<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <title>Edit User</title>
</head>
<body>
  <%- include('./partials/header')%>
  <!-- HERO SECTION -->
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Edit User
        </h1>
        <h2 class="subtitle">
          You can edit your users here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION START -->
  <br>
  <br>
  <section class="container">
    <div class="container">
      <form class="" action="<%=editUser.id%>" method="post">
        <div class="field">
          <label class="label">Name</label>
          <div class="control">
            <input name="name" value="<%=editUser.name%>" class="input" type="text" placeholder="Name input" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Username</label>
          <div class="control has-icons-left has-icons-right">
            <input name="username" class="input" type="text" placeholder="Username input" value="<%=editUser.username%>" required>
            <span class="icon is-small is-left">
        <i class="fa fa-user"></i>
      </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Password</label>
          <div class="control has-icons-left has-icons-right">
            <input name="password" class="input" type="password" placeholder="Password input" value="" required>
            <span class="icon is-small is-left">
        <i class="fa fa-lock"></i>
      </span>
          </div>
        </div>

        <div class="field">
          <label class="label">Role</label>
          <div class="control">
            <div class="select">
              <select name="role">
                <%if(editUser.role==='manager'){%>
                  <option value="employee">Employee</option>
                  <option selected value="manager">Manager</option>
                <%} else if(editUser.role==='employee'){%>
                  <option selected value="employee">Employee</option>
                  <option value="manager">Manager</option>
                <%}%>
              </select>
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-info">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- SECTION END -->
  <!-- FOOTER -->
  <%- include('./partials/footer')%>
  <!-- FOOTER END -->
</body>
</html>
