<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('./partials/head')%>
    <title>Edit Task</title>
</head>

<body>
  <!-- HEADER -->
  <%- include('./partials/header')%>
  <!-- HEADER END -->
  <!-- HERO SECTION -->
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Edit Task
        </h1>
        <h2 class="subtitle">
          Edit your tasks here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION -->
  <br><br>
  <section class="container">
    <div class="container">
      <form class="" action="/task/edit/<%=editDetail.id%>" method="post">
        <div class="field">
          <label class="label">Task:</label>
          <div class="control">
            <input name="task" class="input" type="text" value="<%=editDetail.task%>" placeholder="Text input">
          </div>
        </div>
        <div class="field">
          <label class="label">Employee Assigned:</label>
          <div class="control">
            <div class="select">
              <select name="UserId">
                              <%dataEmployes.forEach(listEmployes=>{%>
                                <%if(listEmployes.id===editDetail.UserId){%>
                                    <option selected value='<%=listEmployes.id %>'>
                                            <%=listEmployes.name %>
                                          </option>
                                <%}else {%>
                                    <option value='<%=listEmployes.id %>'>
                                            <%=listEmployes.name %>
                                          </option>
                                          <%}
                                }, this)%>
                          </select>
            </div>
          </div>
        </div>
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-info">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- SECTION END -->
  <!-- FOOTER -->
  <%- include('./partials/footer')%>
  <!-- FOOTER END -->
</body>

</html>
