<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <title>Project</title>
</head>
<body>
  <%- include('./partials/header')%>
  <!-- HERO SECTION -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects
        </h1>
        <h2 class="subtitle">
          All projects are here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION START -->
  <br><br>
  <div class="container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Deadline</th>
          <th>Detail</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%dataProjects.forEach(function(showProjects){%>
            <tr>
                <td><%=showProjects.id%></td>
                <td><%=showProjects.name%></td>
                <% if(showProjects.deadline){%>
                  <td><%=showProjects.deadline%></td>
                  <%}else{%>
                  <td>Unset</td>
                  <%}%>

                <td><a href="project/task/<%=showProjects.id%>">Assign Task</a></td>
                <td><a href="project/edit/<%=showProjects.id%>">Edit</a></td>
                <td><a href="project/delete/<%=showProjects.id%>">Delete</a></td>
              </tr>
       <% })%>
    </table>
  </div>
  <!-- SECTION END -->
  <!-- FOOTER -->
  <%- include('./partials/footer')%>
  <!-- FOOTER END -->
</body>
</html>
