<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <title>Detail</title>
</head>
<body>
  <%- include('./partials/header')%>
  <!-- HERO SECTION -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
        </h1>
        <h2 class="subtitle">
          All projects task are here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION START -->
  <br>
  <br>
  <div class="container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Task</th>
          <th>Employee Assigned</th>
          <th>Status</th>
          <th colspan="2">Options</th>
        </tr>
      </thead>
      <tbody>
        <% for(let i = 0; i < dataDetails.length; i ++){%>
          <% if(dataDetails){%>
            <tr>
              <td><%= dataDetails[i].id%></td>
              <td><%= dataDetails[i].task%></td>
                <% if(dataDetails[i].User.name){%>
                  <td><%= dataDetails[i].User.name %></td>
                <% }else{ %>
                  <td>Unassigned</td>
                <%}%>
              <td><a href="/task/edit/<%= dataDetails[i].id%>">Edit</a></td>
              <td><a href="/task/delete/<%= dataDetails[i].id%>">Delete</a></td>
            </tr>
        <% }}%>
      </tbody>
    </table>
  </div>

  <!-- FORM START -->
  <br>
  <br>
  <section class="container">
    <div class="container">
      <form action="/task/add" method="post">
        <div class="field">
          <label class="label">Task:</label>
          <div class="control">
            <input name="task" class="input" type="text" placeholder="Task input" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Employee Assigned:</label>
          <div class="control">
            <div class="select">
                <select name="UserId">
                  <% dataUsers.forEach(listEmployes=>{
                    if(listEmployes){%>

                    <option value='<%=listEmployes.id%>'>

                      <%=listEmployes.name%>
                    </option>
                  <%}})%>
              </select>
            </div>
          </div>
        </div>
        
        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- FORM END -->
  <!-- SECTION END -->
  <%- include('./partials/footer')%>
</body>
</html>
