<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <title>Detail</title>
</head>
<body>
  <%- include('./partials/header')%>
  <!-- HERO SECTION -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects Detail <%=namaProject.name%>
        </h1>
        <h2 class="subtitle">
          All projects detail are here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION START -->
  <br>
  <br>
  <div class="container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Task</th>
          <th>Employee Assigned</th>
          <th>Status</th>
          <th colspan="2">Options</th>
        </tr>
      </thead>
      <tbody>
        <%dataProject.forEach(function(showDetail){%>
          <%if(showDetail.Detail){%>
            <tr>
              <td><%=showDetail.Detail.id%></td>
              <td><%=showDetail.Detail.task%></td>
                <% if(showDetail.Detail.UserId){%>
                  <td><%=showDetail.Detail.UserId%></td>
                  <%}else{%>
                  <td>Unassigned</td>  
                  <%}%>
              <td><%=showDetail.Detail.status%></td>
              <td><a href="<%=namaProject.id%>/edit/<%=showDetail.Detail.id%>">Edit</a></td>
              <td><a href="<%=namaProject.id%>/delete/<%=showDetail.Detail.id%>">Delete</a></td>
            </tr>
       <% }})%>
    </table>
  </div>
  <!-- FORM START -->
  <br>
  <br>
  <section class="container">
    <div class="container">
      <form class="" action="/project/detail/<%=namaProject.id%>/add/" method="post">
        
              
        <div class="field">
          <label class="label">Task:</label>
          <div class="control">
            <input name="task" class="input" type="text" placeholder="Task input" required>
          </div>
        </div>

        <div class="field">
          <label class="label">Employee Assigned:</label>
          <div class="control">
            <div class="select">
                <select name="UserId">
                  <%dataEmployes.forEach(listEmployes=>{
                    if(listEmployes){%>
                    
                    <option value='<%=listEmployes.id%>'>

                      <%=listEmployes.name%>
                    </option>
                  <%}})%>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Status:</label>
          <div class="control">
            <div class="select">
              <select name="status">
                  <option value="inprogress">In Progress</option>
                  <option value="pending">Pending</option>
                  <option value="done">Done</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- FORM END -->
  <!-- SECTION END -->
  <%- include('./partials/footer')%>
</body>
</html>
