<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <title>Detail</title>
</head>
<body>
  <%- include('./partials/header')%>
  <!-- HERO SECTION -->
  <section class="hero is-primary">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Projects Detail <%=dataProject.name%>
        </h1>
        <h2 class="subtitle">
          All projects detail are here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION START -->
  <br>
  <br>
  <div class="container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Task</th>
          <th>Employee Assigned</th>
          <th>Status</th>
          <th colspan="2">Options</th>
        </tr>
      </thead>
      <tbody>
        <%detailProject.forEach(function(showDetail){%>
            <tr>
              <td><%=showDetail.id%></td>
              <td><%=showDetail.task%></td>
              <% if(showDetail.User){%>
              <td><%=showDetail.User.name%></td>
              <%}else{%>
              <td>Unassigned</td>  
              <%}%>
              <td><%=showDetail.status%></td>
              <td><a href="user_task_detail/edit/<%=showDetail.id%>">Edit</a></td>
              <td><a href="user_task_detail/delete/<%=showDetail.id%>">Delete</a></td>
              </tr>
       <% })%>
    </table>
  </div>
  <!-- FORM START -->
  <br>
  <br>
  <section class="container">
    <div class="container">
      <form class="" action="/project/detail/<%=dataProject.id%>" method="post">
              
        <div class="field">
          <label class="label">Task:</label>
          <div class="control">
            <input name="task" class="input" type="text" placeholder="Text input">
          </div>
        </div>

        <div class="field">
          <label class="label">Employee Assigned:</label>
          <div class="control">
            <div class="select">
                <select name="UserId">
                  <%dataEmployes.forEach(listEmployes=>{%>
                    <option value='<%=listEmployes.User.id %>'>
                      <%=listEmployes.User.name %>
                    </option>
                  <%}, this)%>
              </select>
            </div>
          </div>
        </div>

        <div class="field">
          <label class="label">Status:</label>
          <div class="control">
            <div class="select">
              <select name="status">
                  <option value="inprogress">In Progress</option>
                  <option value="pending">Pending</option>
                  <option value="done">Done</option>
              </select>
            </div>
          </div>
        </div>

        <div class="field is-grouped">
          <div class="control">
            <button class="button is-primary">Submit</button>
          </div>
        </div>
      </form>
    </div>
  </section>
  <!-- FORM END -->
  <!-- SECTION END -->
  <%- include('./partials/footer')%>
</body>
</html>
