<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./partials/head')%>
  <title>Users</title>
</head>
<body>
  <%- include('./partials/header')%>
  <!-- HERO SECTION -->
  <section class="hero is-info">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Users
        </h1>
        <h2 class="subtitle">
          All users are here
        </h2>
      </div>
    </div>
  </section>
  <!-- HERO SECTION END -->
  <!-- SECTION START -->
  <br><br>
  <div class="container">
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Id</th>
          <th>Name</th>
          <th>Username</th>
          <th>Role</th>
          <th colspan="2">Actions</th>
        </tr>
      </thead>
      <tbody>
        <%dataUsers.forEach(function(showUsers){%>
            <tr>
              <td><%=showUsers.id%></td>
              <td><%=showUsers.name%></td>
              <td><%=showUsers.username%></td>
              <td><%=showUsers.role%></td>
              <td><a href="user/edit/<%=showUsers.id%>">Edit</a></td>
              <td><a href="user/delete/<%=showUsers.id%>">Delete</a></td>
              </tr>
       <% })%>
    </table>
  </div>
  <%- include('./partials/footer')%>
</body>
</html>
